<h1>Angular 101's</h1>

 <hr>
 <h3>Routing</h3>
 <i>Routing is the mechanism by which Angular navigates between views, 
   or pages, of your application. Much like a browser manages displaying 
   different pages based on links clicked, the Angular Router is used 
   to manage such navigation in your app. This is a crucial tool in building
   SPA's with Angular. It is a module, RouterModule, that configures all 
   routes for the app.
 </i>

 <a href="/login">Go To Login!</a>
 <button class="btn btn-primary" (click)="goToLogin()">
    Go Back Home with TypeScript</button>



