
<form class="form-signin" action="login" method="POST">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Welcome to the Expense Reimbursement System</h1>
        <p>Please sign in</p>
      </div>

      <div class="form-label-group">
        <input type="email" name="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputEmail">Email address</label>
      </div>

      <div class="form-label-group">
        <input type="password" name="inputPassword" class="form-control" placeholder="Password" required="">
        <label for="inputPassword">Password</label>
      </div>
      <div class="text-center mb-4">
      	<p class="text-danger" id="invalid"></p>
      </div> 
      <button class="btn btn-lg btn-info btn-block" type="submit" id="login">Sign in</button>
      <hr>
      <p>Don't have an account?<input type="submit" id="createAccount"class="btn btn-link" value="Sign in"> </p>     
       
    </form>
