<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create Account</title>
</head>
<body>

<form class="form-signin">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Welcome to the Expense Reimbursement System</h1>
        <p>Create an Account</p>
      </div>

	<div class="form-label-group">
        <input type="text" id="inputFirst" class="form-control" placeholder="First Name" required="" autofocus="">
        <label for="inputFirst">First Name</label>
      </div>
      
      <div class="form-label-group">
        <input type="text" id="inputLast" class="form-control" placeholder="Last Name" required="" autofocus="">
        <label for="inputLast">Last Name</label>
      </div>

      <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputEmail">Email address</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <label for="inputPassword">Password</label>
      </div>
      
      <div class="form-label-group">
        <input type="password" id="reInputPassword" class="form-control" placeholder="Password" required="">
        <label for="inputPassword">Re-enter Password</label>
      </div>
      
       
      <button class="btn btn-lg btn-info btn-block" type="submit" id="login">Create Account</button>
      
      <p>Don't have an account? <a id="createAccount" href="#">Create an account</a> </p>      
    </form>


</body>
</html>ead>
<body>

</body>
</html>